In [3]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo

#from selenium import webdriver
from splinter import Browser
from bs4 import BeautifulSoup

## Step 1 - Scraping


### NASA Mars News

In [61]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

print(url)
# Retrieve page with the requests module
response = requests.get(url)
print(response)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

#print(soup)

https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest
<Response [200]>

In [62]:
# Examine the results, then determine element that contains sought info
# results are returned as an iterable list
results = soup.find_all('div', class_='slide')

errores = 0

posts_list = []

#print(results)
# Loop through returned results
for result in results:
    # Error handling
    try:
        # Identify and return title of listing
        news_title = result.find('div', class_='content_title').a.text
        
        news_title = news_title.replace('\n', '').replace('\r', '')
        #title = title.find('a').text
        #print(title)
        
        # Identify and return price of listing
        news_p = result.find('div', class_='rollover_description_inner').text
        
        news_p = news_p.replace('\n', '').replace('\r', '')
        #print(description)
        
        # Identify and return link to listing
        news_link = result.find('div', class_='content_title').a['href']
        #print(link)
        
        # Run only if title, price, and link are available
        if (news_title and news_p and link):
            # Print results
            #print('-------------')
            #print(news_title)
            #print(news_p)
            #print(news_link)


            # Dictionary to be inserted as a MongoDB document
            post = {
                'news_title': news_title,
                'news_p': news_p,
                'news_link': news_link
            }
            #print(post)
            #collection.insert_one(post)
            posts_list.append(post)


    except Exception as e:
        errores =+ 1

In [63]:
posts_list

[{'news_title': "NASA's Opportunity Rover Mission on Mars Comes to End",
  'news_p': "NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.",
  'news_link': '/news/8413/nasas-opportunity-rover-mission-on-mars-comes-to-end/'},
 {'news_title': "NASA's InSight Places First Instrument on Mars",
  'news_p': 'In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.',
  'news_link': '/news/8402/nasas-insight-places-first-instrument-on-mars/'},
 {'news_title': 'NASA Announces Landing Site for Mars 2020 Rover',
  'news_p': 'After a five-year search, NASA has chosen Jezero Crater as the landing site for its upcoming Mars 2020 rover mission.',
  'news_link': '/news/8387/nasa-announces-landing-site-for-mars-2020-rover/'},
 {'news_title': 'Opportunity Hunkers Down During Dust Storm',
  'news_p': "It's the beginning of the end for the planet-encircling dust storm on Mars. But it could still be weeks, or even months, before skies are clear enough for NASA's Opportunity rover to recharge its batteries and phone home. ",
  'news_link': '/news/8348/opportunity-hunkers-down-during-dust-storm/'},
 {'news_title': 'NASA Finds Ancient Organic Material, Mysterious Methane on Mars',
  'news_p': 'NASA’s Curiosity rover has found evidence on Mars with implications for NASA’s search for life.',
  'news_link': '/news/8347/nasa-finds-ancient-organic-material-mysterious-methane-on-mars/'},
 {'news_title': 'NASA Invests in Visionary Technology ',
  'news_p': 'NASA is investing in technology concepts, including several from JPL, that may one day be used for future space exploration missions.',
  'news_link': '/news/8326/nasa-invests-in-visionary-technology/'}]


### JPL Mars Space Images - Featured Image

In [1]:
!which chromedriver

/usr/local/bin/chromedriver

In [69]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [76]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [ ]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [21]:
#print(soup)

In [120]:

 


quotes = soup.find_all('article')

pre = 'https://www.jpl.nasa.gov'
url = ""

for quote in quotes:
    try:
        #print(quote['style'])
        url = quote['style']
        s = url.split("'")
        featured_image_url = pre + s[1]


    except Exception as e:
        print(f'Error: {e}')



#print(soup)

#quotes = soup.find_all('img')

#for quote in quotes:
 #   if 'spaceimages' in quote['src']:
  #      print(quote['src'])

In [121]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA08097-1920x1200.jpg'


### Mars Weather - Twitter: @marswxreport

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [5]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
url = 'https://twitter.com/marswxreport'
browser.visit(url)

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [18]:
#soup

In [19]:

results = soup.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

errores = 0

mars_weather = ''

#print(results)
# Loop through returned results
for result in results:
    # Error handling
    try:
        # Identify and return title of listing
        if 'high' in result.text and 'low' in result.text:
            #print(result.text)
            s = result.text.split("pic.")
            print(s[0])
            mars_weather = s[0]
            break
        

    except Exception as e:
        print(e)

Sol 2319 (2019-02-13), high -17C/1F, low -72C/-97F, pressure at 8.12 hPa, daylight 06:46-18:52

In [20]:
mars_weather

'Sol 2319 (2019-02-13), high -17C/1F, low -72C/-97F, pressure at 8.12 hPa, daylight 06:46-18:52'

### Mars Facts - space-facts.com/mars/

In [93]:
import pandas as pd

In [94]:
url = 'https://space-facts.com/mars/'

In [95]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [114]:
type(tables)

list

In [115]:
df = tables[0]
df.columns = ['KPI', 'Data']
df.head()

                    KPI                           data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [116]:
df

                    KPI                           data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [117]:
html_table = df.to_html(index=False, border=None)
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>KPI</th>\n      <th>data</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [118]:
html_table = html_table.replace('\n', '')

html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th>KPI</th>      <th>data</th>    </tr>  </thead>  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [119]:
html_table = html_table.replace('<table border="1" class="dataframe">', '<table class="table">')
html_table = html_table.replace('<thead>', '<thead class="thead-dark">')
html_table = html_table.replace('<tr style="text-align: right;">', '<tr>')

html_table = html_table.replace('<th>', '<th scope="col">')

html_table

'<table class="table">  <thead class="thead-dark">    <tr>      <th scope="col">KPI</th>      <th scope="col">data</th>    </tr>  </thead>  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [121]:
df.to_html(buf='output/table.html',index=False, border=None)

In [122]:
import fileinput

with fileinput.FileInput('output/table.html', inplace=True) as file:
    for line in file:
        print(line.replace('<table border="1" class="dataframe">', '<table class="table">').\
              replace('<thead>', '<thead class="thead-dark">').\
              replace('<tr style="text-align: right;">', '<tr>').\
              replace('<th>', '<th scope="col">'),\
              end='')

In [123]:
get_ipython().system('open output/table.html')

### Mars Hemispheres - USGS Astrogeology site

In [39]:
!which chromedriver

/usr/local/bin/chromedriver

In [40]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [41]:
url = 'https://astrogeology.usgs.gov/maps/mars-viking-hemisphere-point-perspectives'
browser.visit(url)

In [42]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [43]:
#print(soup)

In [44]:
utl_pt = 'https://astrogeology.usgs.gov'

page_list = []

results = soup.find_all('a', class_='item')

for resl in results:
    try:
        #print(quote['style'])
        #print(resl['href'])
        url_to_process = resl['href']
        new_url = utl_pt + url_to_process
        page_list.append(new_url)

    except Exception as e:
        print(f'Error: {e}')

page_list

['https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_unenhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_unenhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_unenhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_unenhanced',
 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced']

In [45]:
hemisphere_image_urls = []

for url_to_process in page_list:
    print('--------------------')
    print('processing: ' + url_to_process)
    browser.visit(url_to_process)

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    #print(soup)
    
    ## find title
    result_title = soup.find_all('h2', class_='title')

    title = ''

    try:
        print(result_title[0].text)
        title = result_title[0].text
    except Exception as e:
        print(f'Error: {e}')
        title = 'Error'


    result_img = soup.find_all('img', class_='wide-image')

    #print(results)

    try:
        print(result_img[0]['src'])
        img_url = result_img[0]['src']
    except Exception as e:
        print(f'Error: {e}')
        img_url = 'Error'

    dict_tmp = {}
    dict_tmp['title'] = title
    dict_tmp['img_url'] = utl_pt + img_url
    #print(resl['href'])
    hemisphere_image_urls.append(dict_tmp)

--------------------
processing: https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_unenhanced
Valles Marineris Hemisphere Unenhanced
/cache/images/8981a6d7057a7634dc312c0448f462c1_valles_marineris_unenhanced.tif_full.jpg
--------------------
processing: https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced
Valles Marineris Hemisphere Enhanced
/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg
--------------------
processing: https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_unenhanced
Syrtis Major Hemisphere Unenhanced
/cache/images/4951731d09d453e340fccf70e43c5933_syrtis_major_unenhanced.tif_full.jpg
--------------------
processing: https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced
Syrtis Major Hemisphere Enhanced
/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg
--------------------
processing: https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_unenhanced
Schiaparelli Hemisphere Unenhanced
/cache/images/0eb84c5fa8ded69d32e9f213497a1960_schiaparelli_unenhanced.tif_full.jpg
--------------------
processing: https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced
Schiaparelli Hemisphere Enhanced
/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg
--------------------
processing: https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_unenhanced
Cerberus Hemisphere Unenhanced
/cache/images/fcdb112501ad82cf8874c368cad113ae_cerberus_unenhanced.tif_full.jpg
--------------------
processing: https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced
Cerberus Hemisphere Enhanced
/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg

[{'title': 'Valles Marineris Hemisphere Unenhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/8981a6d7057a7634dc312c0448f462c1_valles_marineris_unenhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Unenhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/4951731d09d453e340fccf70e43c5933_syrtis_major_unenhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Unenhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/0eb84c5fa8ded69d32e9f213497a1960_schiaparelli_unenhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Cerberus Hemisphere Unenhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/fcdb112501ad82cf8874c368cad113ae_cerberus_unenhanced.tif_full.jpg'},
 {'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}]

In [46]:
hemisphere_image_urls

[{'title': 'Valles Marineris Hemisphere Unenhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/8981a6d7057a7634dc312c0448f462c1_valles_marineris_unenhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Unenhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/4951731d09d453e340fccf70e43c5933_syrtis_major_unenhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Unenhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/0eb84c5fa8ded69d32e9f213497a1960_schiaparelli_unenhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Cerberus Hemisphere Unenhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/fcdb112501ad82cf8874c368cad113ae_cerberus_unenhanced.tif_full.jpg'},
 {'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}]

Cerberus Hemisphere Enhanced
/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': '/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'}]

---

## Step 2 - MongoDB and Flask Application

#### This is going to be inside the .py code.